<% layout('/layouts/boilerplate') -%><body>
  <div class="heading "><h2>All listings</h2></div>
    <!-- <form action="/Listings/new" method="get"><button>Create new listing</button></form> -->
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 ">
    <%for(let list of allListings){%>
    <a href="/listings/<%=list._id%>" class="Listing-link">
    <div class="listing-card col">
    <img src="<%=list.image%>" class="card-img-top" alt="list_img" style="height:20rem";>
    <div class="card-img-overlay"></div>
      <div class="card-body"> 
    <p class="card-text"><b> <%=list.title %> </b><br>&#8377;<%=list.price.toLocaleString("en-IN")%>/night
    </p>
    </div>
    </div>
    </a>
    <%}%>
     
</div>
</body>
