<% layout('/layouts/boilerplate') -%>

<body>
  <div class="row">
    <div class="col-8 offset-2">
      <br><br>
      <h3>Create a New Listing</h3>
      <form id="listingForm" method="POST" action="/Listings/add"     class="row g-3  needs-validation" novalidate>
        
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            id="title"
            name="Listing[title]"
            placeholder="Add a catchy title"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter title</div>
        </div>
        
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>    
          <textarea
          id="description"
          name="Listing[description]"
          class="form-control"
          required
          ></textarea>
          <div class="invalid-feedback">Please enter a short description</div>
        </div>
        
        <div class="mb-3">
          <label for="image" class="form-label">Image Link</label>
          <input
          id="image"
          name="Listing[image]"
          placeholder="enter image URL/Link"
          type="text"
          class="form-control"
          />
        </div>
        
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>    
            <input
            id="price"
            name="Listing[price]"
            placeholder="enter price"
            class="form-control"
            required
            />
            <div class="invalid-feedback">Please enter valid amount</div>
          </div> 
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
            id="country"
            name="Listing[country]"
            placeholder="enter country"
            type="text"
            class="form-control"
            required
            />
            <div class="invalid-feedback">Please enter country</div>
          </div>
        </div>
        
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
          id="location"
          name="Listing[location]"
          placeholder="enter location"
          type="text"
          class="form-control"
          required
          />
          <div class="invalid-feedback">Please enter Location</div>
        </div>

        <button type="submit" class="btn btn-dark add-btn">Add</button>
        <br><br>
      </form>
    </div>
  </div>
  <!-- <script >
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
  </script> -->
</body>
